/* ======= Global ======= */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {margin: 0;}
section {overflow: hidden; padding: 75px 0;}
h1,h2,h3,h4 {margin: 0; color: #051b29;}
h3 {font-size: 1.5em; font-weight: 500;}
p {color: #98a8b5; margin: 0;}
.container {width: 85%; margin: auto;}
.cleafix {clear: both;}
.pull-left {float: left;}
.pull-right {float: right;}
.text-center {text-align: center;}
.myButton {
    padding: 10px 40px;
    background-color: #4eaadd;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #4eaadd;
    font-weight: bold;
    cursor: pointer;
}
.img-circle {border-radius: 50%;}
q {color: #11181e; line-height: 1.5;}

/* ======= Nav ======= */
nav {
    padding: 15px 0;
    background-color: #fff;
    width: 100%;
    height: 72px;
}
nav .logo h4 {
    padding: 10px 62px;
    border: 1px solid #dae3ec;
    background-color: #dae3ec;
    color: #8a97a7;
}

/* ======= Header ======= */
header {
    background-color: #445464;
    padding: 40px 0 90px;
    height: 120vh;
    overflow: hidden;
}
header .upper h2,
header .upper p {color: #f8ffff;}
header .upper h2:last-of-type {margin-bottom: 10px;}
header .upper p {font-size: 17px; margin: 2px 0;}
header .container {position: relative; z-index: 1;}
header .headlines {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header .headlines h4 {color: #fff; font-weight: normal; font-size: 1.15em;}
header .headlines p {font-size: 13px; color: #d0d5d9;}
header .headlines div p:first-of-type {margin-top: 6px;}
header .headlines .l1 {position: absolute; top: 70px; left: -40px;}
header .headlines .l2 {position: absolute; bottom: 180px; left: -40px;}
header .headlines .r1 {position: absolute; top: 140px; right: -40px;}
header .headlines .r2 {position: absolute; bottom: 210px; right: -40px;}

header .middle {
    background-color: #fff;
    width: 55%;
    margin: 75px auto 30px;
    padding: 20px 50px;
    box-shadow: 0px 0px 40px #333;
    -webkit-box-shadow: 0px 0px 40px #333;
    -moz-box-shadow: 0px 0px 40px #333;
    -o-box-shadow: 0px 0px 40px #333;
    z-index: 9;
}
header .middle img {
    width: 120px;
    height: 120px;
    margin-top: -70px;
    padding: 2px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: -1px 1px 21px #000;
    -webkit-box-shadow: -1px 1px 21px #000;
    -moz-box-shadow: -1px 1px 21px #000;
    -o-box-shadow: -1px 1px 21px #000;
}
header .middle h4 {margin: 10px 0 3px;}
header .middle div span {
    display: block;
    color: #81bedb;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}
header .middle h3 {font-size: 1.2em; margin: 30px 0 20px;}
header .middle input[type="email"] {
    background-color: #f0f4f7;
    border: 1px solid #f7f7f9;
    padding: 15px;
    width: 58%;
    margin-right: 2%
}
header .middle input[type="submit"] {
    background-color: #8697a9;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    border: 1px solid #d7e1ed;
    padding: 15px 40px;
}
header .middle > span {color: #8d99a7;font-size: 14px; display: block; margin: 15px 0 5px;}
header .buttons button:first-of-type {
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 12px;
}

/* ======= Skills ======= */
.skills .row {width: 100%;}
.skills .box {width: 33.3333%; margin: 40px 0;}
.skills .box .icon  {
    background-color: #d9edf8;
    border-radius: 50%;
    margin-right: 7%;
    width: 45px;
    padding-left: 16px;
    position: relative;
    height: 45px;
}
.skills .box .icon img {
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7px;
}
.skills .box .text {width: 70%; margin-top: -2px; margin-right: 8%;}
.skills .box .text p {margin-top: 10px;}

/* ======= Testimonials ======= */
.testimonials {
    background: url('../images/testimonials.png') no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.testimonials .container {width: 75%;}
.testimonials .box {
    background-color: #fff;
    padding: 45px 40px;
    width: 44%;
    margin: 0 3%;
    box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -o-box-shadow: 0px 0px 5px #999;
}
.testimonials .box .client {margin-top: 20px;}
.testimonials .client > img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 7px;
}
.testimonials .client .info {padding-top: 8px;}
.testimonials .client .info span {
    display: block;
    font-size: 14px;
    margin: 4px 0;
    color: #b9bec4;
}
.testimonials .client .info img {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 2px;
    margin-right: 7px;
}
.testimonials .client .info a {
    text-decoration: none;
    color: #83b8da;
    font-weight: bold;
    font-size: 14px;
}

/* ======= FAQ ======= */
.FAQ {
    background: url('../images/faq.png') no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.FAQ .container {width: 70%;}
.FAQ > h2 {margin: 25px 0 40px;}
.FAQ .box {margin: 40px 6%; width: 38%;}
.FAQ .box p {margin-top: 25px;}

/* ======= Footer ======= */
footer {
    background-color: #081a28;
    padding: 20px;
    color: #fff;
}
footer span {font-size: 15px;}

/* ================ Media ================ */
/*for Large screen*/
@media (max-width: 1200px) {
    header {height: 135vh;}
    .skills .box {width: 50%; margin: 25px auto;}
}

/*for Medium screen and less*/
@media (max-width: 992px) {
    section {padding: 55px 0;}
    header {height: 125vh;}
    header .headlines {display: none;}
    header .middle {width: 90%;}
    header .upper h2 {font-size: 1.3em;}
    p {font-size: 90%;}
    header .middle img {
        width: 100px;
        height: 100px;
        margin-top: -60px;
    }
    q {font-size: 90%;}
    h3 {font-size: 1.05em;}
    h4 {font-size: .95em;}
    .skills .box h3 {font-size: 1.3em;}
    .testimonials .box {width: 90%; margin-bottom: 30px;}
    .testimonials .client > img {width: 85px; height: 85px;}
    .testimonials .client .info span,
    .testimonials .client .info a {font-size: 13px;}
    .FAQ > h2 {margin: 15px 0 20px;}
    .FAQ .box {margin: 20px 15%; width: 70%; text-align: center;}
    .FAQ .box p {margin-top: 15px;}
    footer span {font-size: 13px;}
}

/*for Small screen and less*/
@media (max-width: 768px) {
    section {padding: 35px 0;}
    header {height: 130vh;}
    header .upper h2 {font-size: 1.15em;}
    p {font-size: 80%;}
    header .middle img {
        width: 90px;
        height: 90px;
        margin-top: -55px;
    }
    .skills .box {width: 100%; margin: 20px auto;}
    h3 {font-size: 1.2em;}
    h4 {font-size: .9em;}
    .testimonials .box {width: 100%;}
    .testimonials .client .info span,
    .testimonials .client .info a {font-size: 12px;}
    .FAQ .box {margin: 20px 5%; width: 90%;}
    footer span {font-size: 10px;}
}
    
@media (max-width: 500px) {
    footer span {font-size: 8px;}
} 
